@model HopDongDetailVM

<div class="card shadow border-0 mt-5">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white-50 py-2">@(Model.HopDongDetail.Id == 0 ? "Thêm" : "Sửa") hợp đồng</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="HopDongDetail.Id" hidden />
            <input asp-for="HopDongDetail.EmployeeId" hidden />
            @* <span asp-validation-sumary="ModelOnly"></span> *@
            <div class="border p-3 row">
                <div class="form-floating col-12 py-2">
                    <select asp-items="Model.HopDongList" asp-for="HopDongDetail.HopDongId" class="form-select border-0 shadow" id="cc">
                        <option disabled selected>--Select Hợp Đồng--</option>
                    </select>
                    <label asp-for="HopDongDetail.HopDongId" class="ms-2"></label>
                    <span asp-validation-for="HopDongDetail.HopDongId" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 py-2">
                    <select asp-items="Model.QuyetDinhDetailList" asp-for="HopDongDetail.QuyetDinhDetailId" class="form-select border-0 shadow" id="cc">
                        <option disabled selected>--Select Quyết Định--</option>
                    </select>
                    <label asp-for="HopDongDetail.QuyetDinhDetailId" class="ms-2"></label>
                    <span asp-validation-for="HopDongDetail.QuyetDinhDetailId" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 py-2">
                    <select asp-items="Model.HoSoLuongList" asp-for="HopDongDetail.HoSoLuongId" class="form-select border-0 shadow" id="cc">
                        <option disabled selected>--Select Hồ Sơ Lương--</option>
                    </select>
                    <label asp-for="HopDongDetail.HoSoLuongId" class="ms-2"></label>
                    <span asp-validation-for="HopDongDetail.HoSoLuongId" class="text-danger"></span>
                </div>

                </div><div class="form-floating col-12 py-2">
                    <input asp-for="HopDongDetail.NgayBatDau" class="form-control border-0 shadow" type="datetime-local" />
                    <label asp-for="HopDongDetail.NgayBatDau" class="ms-2"></label>
                    <span asp-validation-for="HopDongDetail.NgayBatDau" class="text-danger"></span>
                </div><div class="form-floating col-12 py-2">
                    <input asp-for="HopDongDetail.NgayKetThuc" class="form-control border-0 shadow" type="datetime-local" />
                    <label asp-for="HopDongDetail.NgayKetThuc" class="ms-2"></label>
                    <span asp-validation-for="HopDongDetail.NgayKetThuc" class="text-danger"></span>

                @if (Model.HopDongDetail.Id == 0)
                {
                    <div class="form-floating col-12 py-2">
                        <input asp-for="HopDongDetail.NguoiTao" class="form-control border-0 shadow" />
                        <label asp-for="HopDongDetail.NguoiTao" class="ms-2"></label>
                        <span asp-validation-for="HopDongDetail.NguoiTao" class="text-danger"></span>
                    </div>
                }
                else
                {
                    <div class="form-floating col-12 py-2">
                        <input asp-for="HopDongDetail.NguoiUpdate" class="form-control border-0 shadow" />
                        <label asp-for="HopDongDetail.NguoiUpdate" class="ms-2"></label>
                        <span asp-validation-for="HopDongDetail.NguoiUpdate" class="text-danger"></span>
                    </div>
                }
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">@(Model.HopDongDetail.Id == 0 ? "Thêm" : "Sửa")</button>

                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="HopDongDetail" asp-action="Index" class="btn btn-outline-secondary form-control">
                            Quay lại
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}
