@model Employee

<div class="card shadow border-0 mt-5">
    <input type="hidden" id="tscp_employeeId" value="@Model.Id" />
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="col-12 text-center">
            <h2 class="text-white-50 py-2">Tài sản cấp phát của @Model.Name</h2>
        </div>
    </div>
    <div class="card-body shadow p-4">
        <div class="row pb-3">
            @* <div class="col-6"></div> *@
            <div class="col-12 text-end">
                <a asp-controller="EmployeeTaiSanCapPhat" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i> Thêm tài sản
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped compact">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Số lượng</th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <div class="row pt-2">
            <div class="col-6 col-md-3">
                <a asp-controller="EmployeeTaiSanCapPhat" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Quay lại
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script @* src="~/js/quyetDinhDetail.js" *@>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            var id = $('#tscp_employeeId').val();
            var url = `/User/EmployeeTaiSanCapPhat/GetTaiSanCapPhatByEmployeeId/${id}`;
            dataTable = $('#tblData').DataTable({
                "ajax": { url: url },
                "columns": [
                    { data: 'name', width: '40%' },
                    {
                        data: 'amount',
                        "render": function (data, type, row) {
                            return `<input type="number" class="form-control text-center" value="${row.amount}" onchange="updateAmount(${row.taiSanCapPhatId}, this.value)">`;
                        },
                        width: '40%'
                    },
                    {
                        data: 'taiSanCapPhatId',
                        "render": function (data) {
                            return `<div class="w-100 btn-group ms-auto btn-group-equal" role="group">
                                          <a onClick="Delete('/User/EmployeeTaiSanCapPhat/Delete/?employeeId=${id}&tscpId=${data}')" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i> Xóa</a>
                                    </div>`;
                        },
                        width: '20%'
                    }
                ]
            });
        }

        function updateAmount(tscpId, newAmount) {
            var id = $('#tscp_employeeId').val();
            var url = `/User/EmployeeTaiSanCapPhat/UpdateAmount/?employeeId=${id}&tscpId=${tscpId}&newAmount=${newAmount}`;
            $.ajax({
                url: url,
                type: 'POST',
                success: function (data) {
                    dataTable.ajax.reload();
                },
                error: function (data) {
                    toastr.error(data.responseJSON.message);
                }
            });
        }

        function Delete(url) {
            Swal.fire({
                title: "Bạn chắc chứ?",
                text: "Tài sản của nhân viên sẽ bị xóa vĩnh viễn!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Xóa"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function (data) {
                            dataTable.ajax.reload();
                            toastr.success(data.message);
                        }
                    })
                }
            });
        }
    </script>
}