@model PhongBanChucDanhVM

<input type="hidden" id="phongBanId" value="@Model.PhongBan.Id" />
<div class="card shadow border-0 mt-5">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="col-12 text-center">
            <h2 class="text-white-50 py-2">Phòng ban @Model.PhongBan.Name</h2>
        </div>
    </div>
    <div class="card-body shadow p-4">
        <div class="row pb-3">
            @* <div class="col-6"></div> *@
            <div class="col-12 text-end">
                <a asp-controller="PhongBanChucDanh" asp-action="Add" asp-route-phongBanId="@Model.PhongBan.Id" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i> Thêm chức danh vào phòng ban
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped compact">
            <thead>
                <tr>
                    <th>Chức danh</th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <div class="row pt-2">
            <div class="col-6 col-md-3">
                <a asp-controller="PhongBan" asp-action="Index" class="btn btn-outline-secondary form-control">
                    Quay lại
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/phongBanChucDanh.js"></script>
}