@model DisciplinaryActionVM

<div class="card shadow border-0 mt-5">
	<div class="card-header bg-primary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white-50 py-2">@(Model.DisciplinaryAction.Id == 0 ? "Thêm" : "Sửa") kỷ luật</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<form method="post" class="row">
			<input asp-for="DisciplinaryAction.Id" hidden />
			@* <span asp-validation-sumary="ModelOnly"></span> *@

			<div class="border p-3">
				<div class="form-floating col-12 py-2">
					<select asp-items="Model.EmployeeList" asp-for="DisciplinaryAction.EmployeeId" class="form-select border-0 shadow">
						<option disabled selected>--Select Employee--</option>
					</select>
					<label asp-for="DisciplinaryAction.EmployeeId" class="ms-2"></label>
					<span asp-validation-for="DisciplinaryAction.EmployeeId" class="text-danger"></span>
				</div>
				<div class="form-floating col-12 py-2">
					<select asp-items="Model.ViolationTypeList" asp-for="DisciplinaryAction.ViolationType" class="form-select border-0 shadow">
						<option disabled selected>--Select Violation Type--</option>
					</select>
					<label asp-for="DisciplinaryAction.ViolationType" class="ms-2"></label>
					<span asp-validation-for="DisciplinaryAction.ViolationType" class="text-danger"></span>
				</div>
				<div class="form-floating col-12 py-2">
					<input asp-for="DisciplinaryAction.ViolationDate" class="form-control border-0 shadow" type="date" />
					<label asp-for="DisciplinaryAction.ViolationDate" class="ms-2"></label>
					<span asp-validation-for="DisciplinaryAction.ViolationDate" class="text-danger"></span>
				</div>
				<div class="form-floating col-12 py-2">
					<input asp-for="DisciplinaryAction.Description" class="form-control border-0 shadow" />
					<label asp-for="DisciplinaryAction.Description" class="ms-2"></label>
					<span asp-validation-for="DisciplinaryAction.Description" class="text-danger"></span>
				</div>
				<div class="form-floating col-12 py-2">
					<input asp-for="DisciplinaryAction.Evidence" class="form-control border-0 shadow" />
					<label asp-for="DisciplinaryAction.Evidence" class="ms-2"></label>
					<span asp-validation-for="DisciplinaryAction.Evidence" class="text-danger"></span>
				</div>
				<div class="form-floating col-12 py-2">
					<select asp-items="Model.ActionTakenTypeList" asp-for="DisciplinaryAction.ActionTakenType" class="form-select border-0 shadow">
						<option disabled selected>--Select Action Taken Type--</option>
					</select>
					<label asp-for="DisciplinaryAction.ActionTakenType" class="ms-2"></label>
					<span asp-validation-for="DisciplinaryAction.ActionTakenType" class="text-danger"></span>
				</div>
				<div class="form-floating col-12 py-2">
					<input asp-for="DisciplinaryAction.Remarks" class="form-control border-0 shadow" />
					<label asp-for="DisciplinaryAction.Remarks" class="ms-2"></label>
					<span asp-validation-for="DisciplinaryAction.Remarks" class="text-danger"></span>
				</div>
				<div class="row pt-2">
					<div class="col-6 col-md-3">
						<button type="submit" class="btn btn-primary form-control">@(Model.DisciplinaryAction.Id == 0 ? "Thêm" : "Sửa")</button>

					</div>
					<div class="col-6 col-md-3">
						<a asp-controller="DisciplinaryAction" asp-action="Index" class="btn btn-outline-secondary form-control">
							Quay lại
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>


@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"></partial>
	}
}

